openapi: 3.0.0
info:
  title: Security Copilot Email
  description: Sends an HTML-formatted security investigation report via email using an Azure Logic App.
  version: 1.0.0

servers:
  - url: https://prod-31.australiaeast.logic.azure.com:443/workflows/bf5f0331504e4fe79607ad3769190073/triggers/manual/paths

components:
  securitySchemes:
    LogicAppSig:
      type: apiKey
      in: query
      name: sig

paths:
  /invoke:
    post:
      operationId: Securitycopilotemail
      summary: Send Security Copilot Email
      security:
        - LogicAppSig: []
      parameters:
        - name: api-version
          in: query
          required: true
          schema:
            type: string
            default: "2016-10-01"
        - name: sp
          in: query
          required: true
          schema:
            type: string
            default: "/triggers/manual/run"
        - name: sv
          in: query
          required: true
          schema:
            type: string
            default: "1.0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [To, Subject, Message]
              properties:
                Message:
                  type: string
                To:
                  type: string
                Subject:
                  type: string
                CaseOutput:
                  type: string
                IncidentID:
                  type: string
      responses:
        "200":
          description: Email sent successfully.
        "500":
          description: Failed to send email.
